<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class=" leftDash col-lg-6 col-sm-12 col-md-6">
                <h1>Sea Buoy Info</h1>
                <p> Your Buoy is located in: <h3> <%= buoy.buoyName %> </h3></p>
                <p> The current Sea Level is: <h3><%= seaLevel%> </h3> </p>
            </div>
            <div class = "rightDash col-lg-6 col-sm-12 col-md-6">
                <img class = "buoy" src = "images/buoy.png"></img>
            </div>
            </div>
            <div class="row">
              <div class="chart col-lg-12 col-sm-12 col-md-12">
                <canvas id="myLineChart" width="400" height="200"></canvas>
              </div>
            </div>
        </div>
    </div
</section>
