<form action="/login" method="post" id='login-form'>
    <% if( errorMessage.length > 0){ %>
        <p class='error'>
            <%= errorMessage %>
        </p>
    <% } %>
    <div class="row">
      <div class="inputForm col-lg-6 col-md-6">
        <div class='input-field'>
          <label for="username-input"> Username </label>
          <input class='validate' type="text" name="username" id="username-input" </div>

          <div class='input-field'>
            <label for="password-input"> Password </label>
            <input class='validate' type="password" name="password" id="password-input" </div>
            <br>
            <button class=''> Log In </button>
              </form>
          </div>
          <div class = "picture col-lg-6 col-md-6">
          </div>
          </div>
